<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.0/mermaid.min.js"></script>
<script>
  $(document).ready(function () {
    // 可选主题，参考：https://mermaid.js.org/config/theming.html#available-themes
    mermaid.initialize({
        startOnLoad: false,
        theme: "default",
    });

    // 不同版本的 API 有差异，参考：https://github.com/mermaid-js/mermaid/blob/release/10.8.0/docs/config/usage.md
    mermaid.run({
        querySelector: '.language-mermaid',
    })
  });
</script>
